<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proyects List</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="./root.html">
    <link rel="stylesheet" href="./css/index/index.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/bidding-detail/bidding-list.css" />
</head>

<body>
    <header class="header">
        <%- include('./partials/header') %>
    </header>
    <div class="contenido">
        <div class="contenedor-proyectos">
            <% for(let i=0; i<listaProyectos.length; i++){ %>
            <div class="proyecto">
                <div class="datos-proyecto">
                    <p class="titulo">
                        <%= listaProyectos[i].tituloProyecto%>
                    </p>

                    <p class="precio-proyecto">
                        <%= listaProyectos[i].precioProyecto%>
                    </p>
                    <p>
                        <%= listaProyectos[i].fechaCreacionProyecto%>
                    </p>
                    <p class="descripcion">
                        <%= listaProyectos[i].descripcionProyecto%>
                    </p>
                    <div class="categorias-proyecto">
                        <% let categorias = listaProyectos[i].categoria %>
                        <% for(let i=0; i<categorias.length; i++){ %>
                        <% for(let j=0; j<listaCategorias.length; j++){ %>
                        <%if(categorias[i].idCategoria==listaCategorias[j].idCategoria){%>
                        <p><%=listaCategorias[j].nombreCategoria%></p>
                        <%}%>
                        <%}%>
                        <%}%>
                    </div>
                    <div class="edicion">
                        <img class="basura" src="./images/basura.png" alt="camara">
                        <img class="lapiz" src="./images/lapiz.png" alt="lápiz">
                    </div>
                </div>
            </div>
                <% } %>

                    </div>
                    <a href="" class="boton-agregar">
                        <div class="agregar-proyecto-contenedor">
                            <p class="agregar-proyecto-text">Agregar nuevo proyecto</p>
                        </div>
                        <img class="agregar" src="./images/agregar.png" alt="camara">
                    </a>

                </div>

                <footer class="footer">
                    <%- include('./partials/footer') %>
                </footer>

</body>

</html>