<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <%- include('./partials/head') %>
  <!-- Espacio para estilos de esta pantalla-->
  <link rel="stylesheet" href="./root.html">
  <link rel="stylesheet" href="./css/index/index.css" />


</head>

<body>
  <header class="header">
    <%- include('./partials/header') %>
  </header>
  <div class="recomendados">
    <p class="recomendado-titulo">RECOMENDADOS PARA TI</p>
    <ul class="lista-recomendados">
      <div class="tarjeta">
        <!-- hacerlo dinámico trayendo los json, preguntar cómo se hace -->
        <% for(let i=0; i<proyectos.length; i++){ %>
        <!-- método para sacar las categorias de un proyecto en particular -->
        <%  let catProy = categorProy(proyectos[i].idProyecto); %>

        <% function categorProy(idProyecto) {%>
        <% try { %>
        <% let Categorias = []; %>
        <% let proyCat = proyectoCategoria; %>

        <% for (c of proyCat) { %>
        <%  if (c.fk_Proyecto == idProyecto) { %>
        <% let nombreCat = categoriaIndividual(c.fk_Categoria); %>
        <% Categorias.push(nombreCat); %>
        <% }%>
        <% } %>
        <% return Categorias;%>
        <% } catch (error) {%>
        <%  console.log(error);%>
        <% }%>
        <% }%>
        <% function categoriaIndividual(idCategor) {%>
        <% try {%>
        <% const data = categorias;%>
        <%  for (let i = 0; i < data.length; i++) {%>
        <% if (data[i].idCategoria == idCategor) { %>
        <%  let categoria = data[i].nombreCategoria;%>
        <% return categoria;%>
        <% }%>
        <% }%>
        <%  } catch (error) {%>
        <%  console.log(error);%>
        <% } %>
        <% }%>
        <a href="#" class="card hipervinculo">
          <h5 class="card-header"><%= proyectos[i].tituloProyecto%></h5>
          <div class="card-body">
            <div class="fecha-horario">
              <p class="price"> <%= proyectos[i].precioProyecto%></p>
              <p class="fecha"> <%= proyectos[i].fechaProyecto%></p>
            </div>
            <p class="card-text"><%= proyectos[i].descripcionProyecto%></p>
            <div class="requisitos-recomendados">
              <% for(let j = 0; j<catProy.length; j++){ %>
              <p><%=catProy[j] %></p>
              <%}%>
            </div>
          </div>
        </a>
        <% } %>
            </div>
    </ul>
  </div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control" id="buscador" type="search" placeholder="Buscar proyectos" aria-label="Search">
        <p>
          <a class="btn btn-primary" id="myBtn" data-bs-toggle="collapse" href="#collapseExample" role="button"
            onclick="clickBoton()" aria-expanded="false" aria-controls="collapseExample">
            <img class="lupa" src="./images/lupa-icon.png" alt="lupa">
          </a>
        </p>
    </div>
    </form>
  </nav>
  <div class="contenido-principal">
    <div class="filtrado">
      <div class="filtrado-precio">
        <p>Precio</p>
        <div>
          <form class="filtrado-input-precio" action="/filtrado-precio">
            <input class="input-precio no-scroll" id="minPrecio" placeholder="$ mín" type="number" name="precioMin" />
            <p>-</p>
            <input class="input-precio" id="maxPrecio" placeholder="$ máx" type="number" name="precioMax" />
          </form>
        </div>
      </div>
      <div class="filtrado-categoria">
        <p>Categorías</p>
        <div>
          <form class="filtrado-checkbox-categoria categoria-scroll" action="/filtrado-categoria">
            <!--  -->
            <% for(let i=0; i<categorias.length; i++){ %>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value=<%=categorias[i].idCategoria%> class="cat"
                id=<%=categorias[i].idCategoria%>>
              <label for="${categorias[index].idCategoria}"> <%=categorias[i].nombreCategoria%></label>
            </div>
            <% } %>
          </form>
        </div>
      </div>
    </div>
    <div class="buscador-buscados">
      <!--ponerle evento onclick al botón -->
      <div class="boton-all">
        <p class="boton-texto">Últimos proyectos</p>
        <!--  <button class="boton-boton" onclick="clickBoton()">
          <a class="ver-todo hipervinculo view-all" href="#">Ver todos</a>
        </button> -->
      </div>
      <div class="tarjeta-buscados">
        <!--  -->
        <% for(let i=0; i<proyectos.length; i++){ %>
        <a href="#" class="card hipervinculo">
          <h5 class="card-header"><%= proyectos[i].tituloProyecto%></h5>
          <div class="card-body">
            <div class="fecha-horario">
              <p class="price"> <%= proyectos[i].precioProyecto%></p>
              <p class="fecha"> <%= proyectos[i].fechaProyecto%></p>
            </div>
            <p class="card-text"><%= proyectos[i].descripcionProyecto%></p>
            <div class="requisitos-recomendados">
              categoria(arreglar)
            </div>
          </div>
        </a>
        <% } %>
      </div>
      <button class="boton-boton" onclick="clickBoton()">
        <a class="ver-todo hipervinculo view-all" href="#">Ver todos</a>
      </button>
    </div>
  </div>
  <footer class="footer">

    <%- include('./partials/footer') %>

  </footer>
<!--   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script> -->
  <script src="./js/index.js"></script>
</body>

</html>