<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registro</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/register&login/theme.css" />
    <link rel="stylesheet" href="/css/register&login/register-and-login.css" />
    <link rel="stylesheet" href="/css/register&login/breakpoints.css" />
  </head>

  <body>
    <main class="main-register">
        <h2 class="form-info">Crea una cuenta</h2>
        <div class="hidden">
          <div class="register-section">
            <input type="button" name="facebook" id="facebook" value="facebook" />
            <input type="button" name="google" id="google" value="google" />
            <input type="button" name="linkedin" id="linkedin" value="linkedin" />
          </div>
          <hr class="solid" />
        </div>
        <form action="/user/register" method="POST">
        <div class="register-section">
          <div class="input-div">
            <label class="input-label" for="name">Ingresá tu nombre</label>
            <input class="input-text" type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.old && old.name%>" />
            <% if(locals.errors && errors.name){%>
              <p><%=errors.name.msg%></p>
            <%}%>
    
          </div>
          <div class="input-div">
            <label class="input-label" for="usuarioNombre">Ingresá tu nombre de usuario</label>
            <input class="input-text" type="text" name="usuarioNombre" id="usuarioNombre" placeholder="Nombre usuario" value="<%= locals.old && old.usuarioNombre%>" />
            <% if(locals.errors && errors.usuarioNombre){%>
              <p><%=errors.usuarioNombre.msg%></p>
            <%}%>
    
          </div>
          <div class="input-div">
            <label class="input-label" for="surname">Ingresá tu apellido</label>
            <input class="input-text" type="text" name="surname" id="surname" placeholder="Apellido" value="<%= locals.old && old.surname%>" />
            <% if(locals.errors && errors.surname){%>
              <p><%=errors.surname.msg%></p>
            <%}%>
          </div>
          <div class="input-div">
            <label class="input-label" for="email ">Ingresá tu email</label>
            <input class="input-text" type="email" name="email" id="email" placeholder="Email"  value="<%= locals.old && old.email%>" />
            <% if(locals.errors && errors.email){%>
              <p><%=errors.email.msg%></p>
            <%}%>
          </div>
          <div>
            <div class="input-div">
              <label class="input-label" for="password">Ingresá tu contraseña</label>
              <input class="input-text" type="password" name="password" id="password" placeholder="Contraseña" />
              <% if(locals.errors && errors.password){%>
                <p><%=errors.password.msg%></p>
              <%}%>
            </div>
            <div class="input-div">
              <label class="input-label" for="passwordConfirmation">Repetir contraseña</label>
              <input
                class="input-text"
                type="password"
                name="passwordConfirmation"
                id="passwordConfirmation"
                placeholder="Repetir contraseña"
                />
              <% if(locals.errors && errors.passwordConfirmation){%>
                <p><%=errors.passwordConfirmation.msg%></p>
              <%}%>
            </div>
          </div>
          <div class="input-div">
            <button>Registrame</button>
            <h2 class="form-info">Al unirme, acepto recibir correos de proyectos</h2>
          </div>
        </div>
      </form>
    </main>
    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
