<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <title>Configuracion</title>
    <!-- Espacio para estilos de esta pantalla-->
    <!-- <link rel="stylesheet" href="/css/index/index.css" /> -->
    <link rel="stylesheet" href="/css/index/config.css" />
</head>

<body>
  <header class="header">
    <%- include('./partials/header') %>
  </header>
  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #425158; height:100px;">
              <!-- <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;"> -->
              <div class="imagen-perfil">
                <%let url=locals.userLogged.profileURL%>
                  <!-- <img onclick="editarPerfilDescripcion()" class="lapiz descripcion" src="/images/lapiz.png"
                    alt="lápiz" /> -->
                  <img class="img-fluid img-thumbnail mt 2 mb-8" style="width: 150px; z-index:1" src="<%if (url){%>
                          <%=url%>
                          <%}else{%>
                          /images/user-images/usuario.png 
                          <% }%>" alt="profile pic" />
                  <!-- <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                    Guardar Cambios
                  </button> -->
              </div>
              <!-- <div class="ms-3" style="margin-top: 130px;">
                <h5>
                  <%=locals.userLogged.name%>
                    <%=locals.userLogged.surname%>
                </h5>
                <p>
                  <%=locals.userLogged.tipoUsuarioId%>
                </p>
              </div> -->
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">

              <div class="contenedor-datos">
                <form action="/user/register" method="POST" enctype="multipart/form-data">
                  <!--         Acceso           -->
                  <div class="input-div">
                    <label class="input-titulo">Datos Personales</label>
                  </div>
                  <!-- Nombre -->
                  <div class="input-div">
                    <label class="input-label" for="name">Nombre</label>
                    <input class="input-text" type="text" name="name" id="name" placeholder="Nombre"
                      value="<%= locals.userLogged.name%>" />
                    <% if(locals.errors && errors.name){%>
                      <p>
                        <%=errors.name.msg%>
                      </p>
                      <%}%>
                  </div>
                  <!-- Apellido -->
                  <div class="input-div">
                    <label class="input-label" for="surname">Apellido</label>
                    <input class="input-text" type="text" name="surname" id="surname" placeholder="Apellido"
                      value="<%= locals.userLogged.surname%>" />
                    <% if(locals.errors && errors.surname){%>
                      <p>
                        <%=errors.surname.msg%>
                      </p>
                      <%}%>
                  </div>

                  <br />
                  <!-- Cambiar imagen -->
                  <div class="input-div">
                    <label class="input-titulo" for="avatar">Imagen </label>
                  </div>
                  <div class="input-div">
                    <input type="file" name="avatar" />
                  </div>
                  <br />
                  <!--         Acceso           -->
                  <div class="input-div">
                    <label class="input-titulo">Credenciales de acceso</label>
                  </div>
                  <!-- Email -->
                  <div class="input-div">
                    <label class="input-label" for="email ">Email</label>
                    <input class="input-text" type="email" name="email" id="email" placeholder="Email"
                      value="<%= locals.userLogged.email%>" />
                    <% if(locals.errors && errors.email){%>
                      <p>
                        <%=errors.email.msg%>
                      </p>
                      <%}%>
                  </div>
                  <div class="input-div">
                    <label class="input-label" for="password">Contraseña</label>
                    <input class="input-text" type="password" name="password" id="password" placeholder="Contraseña" />
                    <% if(locals.errors && errors.password){%>
                      <p>
                        <%=errors.password.msg%>
                      </p>
                      <%}%>
                  </div>
                  <div class="input-div">
                    <label class="input-label" for="passwordConfirmation">Repetir contraseña</label>
                    <input class="input-text" type="password" name="passwordConfirmation" id="passwordConfirmation"
                      placeholder="Repetir contraseña" />
                    <% if(locals.errors && errors.passwordConfirmation){%>
                      <p>
                        <%=errors.passwordConfirmation.msg%>
                      </p>
                      <%}%>
                  </div>
                  <div class="input-div">
                    <button class="boton-registrar">Actualizar</button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Datos del usuario -->





  <footer class="footer">
    <%- include('./partials/footer') %>
  </footer>

  <!-- Lo comento porque hace que no funcione el menu  BEL  
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="/js/config.js"></script> -->
</body>

</html>