<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mail Box</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/index/mailbox.css" />
    <link rel="stylesheet" href="/css/index/message.css" />
  </head>

  <body>
    <header class="header"><%- include('./partials/header') %></header>

    <main>
      <form action="/user/createMessage" method="POST">
        <div class="mensaje">
          <div class="form-group">
            <h6>Ingrese su mensaje</h6>
            <%if(error !="" ){%>
            <textarea
              class="form-control rounded-0 tamanio"
              id="exampleFormControlTextarea1"
              rows="10"
              name="mensaje"
            >
<%= locals.old && old.mensaje%><% if(locals.errors && errors.mensaje){%>
  <p class="text-danger"><%=errors.mensaje.msg%></p>
<%}%></textarea
            >
            <% } %> <%if(error =="" ){%>
            <textarea
              class="form-control rounded-0 tamanio"
              id="exampleFormControlTextarea1"
              rows="10"
              name="mensaje"
            ></textarea>
            <% if(locals.errors && errors.mensaje){%>
            <p class="text-danger"><%=errors.mensaje.msg%></p>
            <%}%> <% } %>
          </div>
          <div class="form-group">
            <h6>Ingrese el destinatario</h6>
            <select
              class="form-select tamanio-menor"
              aria-label="Default select example"
              name="destinatario"
            >
              <option selected disabled>Elija el usuario</option>
              <%for ( let i = 0; i < usuarios.length; i++ ) { %>
              <option value="<%=usuarios[i].id %>" selected<%="usuarios[i]" %>
                ><%=usuarios[i].username %>
              </option>
              <% } %>
            </select>
          </div>
          <% if(locals.errors && errors.destinatario){%>
          <p class="text-danger"><%=errors.destinatario.msg%></p>
          <%}%> <%if(error !="" ){%>
          <p class="text-danger"><%=error%></p>
          <button id="botonEnviar" class="guardar-boton" type="submit">
            Enviar Mensaje
          </button>
          <% }else{ %>
          <button id="botonEnviar" class="guardar-boton" type="submit">
            Enviar Mensaje
          </button>
          <% } %> <%console.log('erorss', errors)%>
        </div>
      </form>
      <%if(mensajeEnviado !="" ){%>
      <div class="alert alert-success" role="alert">MENSAJE ENVIADO!</div>
      <% } %>
    </main>
    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
