<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mail Box</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/index/mailbox.css" />
  </head>

  <body>
    <header class="header"><%- include('./partials/header') %></header>
    <!--  -->
    <main>
      <div class="contenedor-lista">
        <ul class="lista-contactos">
          <%if(mensajes.length > 0){%>
          <h2><%=usuario.username%></h2>
          <div class="contenedor-elemento-lista recibido">
            <% mensajes.forEach(mensaje => { %> <%if(mensaje.remitenteId ==
            usuario.id){%>
            <div class="col-12 col-sm-6 col-lg-3">
              <section class="mail-box">
                <article>
                  <span class="green"> <%= mensaje.contenidoMensaje %> - </span>
                  <p><%= mensaje.fechaMensaje %></p>
                </article>
              </section>
              <hr />
            </div>
            <% } %> <%if(mensaje.destinatarioId == usuario.id){%>
            <div class="col-12 col-sm-6 col-lg-3 enviado">
              <section class="mail-box">
                <article>
                  <span class="blue"> <%= mensaje.contenidoMensaje%></span>
                  <p><%= mensaje.fechaMensaje %></p>
                </article>
              </section>
              <hr />
            </div>
            <% } })%>
          </div>
          <% } %>
          <!-- nuevo fin -->
        </ul>
      </div>
      <button class="guardar-boton">
        <a class="" href="/user/createMessage">Nuevo mensaje</a>
      </button>
    </main>
    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
