<!DOCTYPE html>
<html lang="en">

<head>
  <title>Todos los Proyectos</title>
  <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />


</head>

<body>
  <header class="header">
    <%- include('./partials/header') %>
  </header>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control" id="buscador" type="search" placeholder="Buscar proyectos" aria-label="Search">
        <p>
          <a class="btn btn-primary" id="myBtn" data-bs-toggle="collapse" href="#collapseExample" role="button"
            onclick="clickBoton()" aria-expanded="false" aria-controls="collapseExample">
            <img class="lupa" src="/images/lupa-icon.png" alt="lupa">
          </a>
        </p>
    </div>
    </form>
  </nav>
  <div class="contenido-principal">
    <div class="filtrado">
      <div class="filtrado-precio">
        <p>Precio</p>
        <div>
          <form class="filtrado-input-precio" action="/filtrado-precio">
            <input class="input-precio no-scroll" id="minPrecio" placeholder="$ mín" type="number" name="precioMin" />
            <p>-</p>
            <input class="input-precio" id="maxPrecio" placeholder="$ máx" type="number" name="precioMax" />
          </form>
        </div>
      </div>
      <div class="filtrado-categoria">
        <p>Categorías</p>
        <div>
          <form class="filtrado-checkbox-categoria categoria-scroll" action="/filtrado-categoria">
            <!--  -->
            <% for(let i=0; i<listaCategorias.length; i++){ %>
              <div class="label-checkbox">
                <input type="checkbox" name="categoria" value=<%=listaCategorias[i].id%> class="cat"
                id=<%=listaCategorias[i].id%>>
                  <label for="${listaCategorias[index].id}">
                    <%=listaCategorias[i].nombre%>
                  </label>
              </div>
              <% } %>
          </form>
        </div>
      </div>
    </div>
    <%if(listaProyectos.length==0){%>
      <div>
        No hay proyectos disponibles por el momento
      </div>
      <%} else {%>
        <div class="buscador-buscados">
          <!--ponerle evento onclick al botón -->
          <div class="boton-all">
            <p class="boton-texto">Últimos proyectos</p>
            <!--  <button class="boton-boton" onclick="clickBoton()">
          <a class="ver-todo hipervinculo view-all" href="#">Ver todos</a>
        </button> -->
          </div>
          <div class="tarjeta-buscados">
            <% for(let i=0; i<listaProyectos.length; i++){ %>
              <a href="#" class="card hipervinculo">
                <h5 class="card-header">
                  <%= listaProyectos[i].titulo%>
               
                </h5>
                <div class="card-body">
                  <div class="fecha-horario">
                    <p class="price">
                      <%= listaProyectos[i].precio%>
                    </p>
                    <p class="fecha">
                      <%= listaProyectos[i].fechaCreacion%>
                    </p>
                  </div>
                  <p class="card-text">
                    <%= listaProyectos[i].descripcion%>
                  </p>
                  <div class="requisitos-recomendados">
                    <% for(let j=0; j<listaProyCat.length; j++){ %>
                      <% if(listaProyCat[j].proyectoId==listaProyectos[i].id){ %>
                        <!-- busco la categoria (nombre) -->
                        <% let categId=listaProyCat[j].categoriaId %>
                          <% for(let k=0; k<listaCategorias.length; k++) { %>
                            <% if(categId==listaCategorias[k].id){ %>
                              <p>
                                <%=listaCategorias[k].nombre%>
                              </p>
                              <% } %>
                                <% } %>
                                  <% } %>
                                    <% } %>
                  </div>
                </div>
              </a>
              <% } %>
          </div>
          <button class="boton-boton" onclick="clickBoton()">
            <a class="ver-todo hipervinculo view-all" href="/proyect/proyectosAll">Ver todos</a>
          </button>
        </div>
        <%}%>
  </div>
  <footer class="footer">

    <%- include('./partials/footer') %>

  </footer>
  <!--   Lo comento porque hace que no funcione el menu  BEL
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script> -->
  <!-- <script src="./js/index.js"></script> -->
</body>

</html>