<!DOCTYPE html>
<html lang="en">

<head>
    <title>Proyects List</title>
    <%- include('./partials/head') %>
        <!-- Espacio para estilos de esta pantalla-->
        <link rel="stylesheet" href="/css/bidding-detail/bidding-list.css" />
</head>

<body>
    <header class="header">
        <%- include('./partials/header') %>
    </header>
    <div class="contenido">
        <div class="contenedor-proyectos">
            <% for(let i=0; i<listaProyectos.length; i++){ %>
                <div class="proyecto">
                    <div class="datos-proyecto">
                        <p class="titulo">
                            <%= listaProyectos[i].titulo%>
                        </p>

                        <p class="precio-proyecto">
                            <%= listaProyectos[i].precio%>
                        </p>
                        <p>
                            <%= listaProyectos[i].fechaCreacion%>
                        </p>
                        <p class="descripcion">
                            <%= listaProyectos[i].descripcion%>
                        </p>
                        <div class="categorias-proyecto">
                            <!-- proyCat contiene la instancia que pertenece al proyecto y le saco la/s categoría/s -->
                            <% for(let j=0; j<listaProyCat.length; j++){ %>
                                <% if(listaProyCat[j].proyectoId==listaProyectos[i].id){ %>
                                    <!-- busco la categoria (nombre) -->
                                    <% let categId=listaProyCat[j].proyectoId %>
                                        <% for(let k=0; k<listaCategorias.length; k++) { %>
                                            <%if(listaCategorias[k] !=undefined){%>
                                                <%console.log('ttttt', categId, listaCategorias[k])%>
                                                    <% if(categId==listaCategorias[k].id){ %>
                                                        <p>
                                                            <%=listaCategorias[k].nombre%>
                                                        </p>
                                                        <% } %>
                                                            <% } %>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                        </div>
                        <div class="edicion">
                            <a href="/proyect/detail/<%=listaProyectos[i].id%>"><i class="fa-solid fa-eye"></i></a>
                            <a href="/proyect/delete/<%=listaProyectos[i].id%>"><i
                                    class="fa-solid fa-trash-can"></i></a>
                            <a href="/proyect/edit/<%=listaProyectos[i].id%>"><i class="fa-solid fa-pencil"></i></a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <% console.log(locals.userLogged.tipoUsuarioId) %>
            <a href="/proyect/create" class="boton-agregar" <% if (locals.userLogged.tipoUsuarioId==2){
                %>style='display: none'<% } %>>
                    <div class="agregar-proyecto-contenedor">
                        <p class="agregar-proyecto-text">Agregar nuevo proyecto</p>
                    </div>
                    <i class="fa-solid fa-circle-plus"></i>
    </div>
    <footer class="footer">
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>