<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proyects creation</title>
    <%- include('./partials/head') %>
    <!-- Espacio para estilos de esta pantalla-->
    <link rel="stylesheet" href="/css/index/index.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/bidding-detail/bidding-creation.css" />
  </head>

  <body>
    <header class="header"><%- include('./partials/header') %></header>

    <div class="contenido">
      <form action="/proyect" method="POST">
        <div class="item-form">
          <label for="titulo">Ingrese un título</label>
          <input class="input-small" type="text" name="titulo" id="titulo" value="<%= locals.old && old.titulo%>" />
          <% if(locals.errors && errors.titulo){%>
            <p class="text-danger"><%=errors.titulo.msg%></p>
          <%}%>
        </div>
        <div class="item-form descrip">
          <label for="descripcion">Describa su proyecto</label>
          <textarea class="input" name="descripcion" id="descripcion" cols="30" rows="10" ><%= locals.old && old.descripcion%></textarea>
          <% if(locals.errors && errors.descripcion){%>
            <p><%=errors.descripcion.msg%></p>
          <%}%>
        </div>
        <div class="item-form prec">
          <label for="precio">Precio</label>
          <input class="input-small" type="text" name="precio" id="precio" value="<%= locals.old && old.precio%>" />
          <% if(locals.errors && errors.precio){%>
            <p><%=errors.precio.msg%></p>
          <%}%>
        </div>
        <div class="item-form">
          <label for="categorias">Seleccione las categorías</label>
        </div>
        <div class="categorias-check">
          <% for(let i=0; i<listaCategorias.length; i++){ %>
            <div class="label-checkbox">
              <input type="checkbox" name="categoria" value=<%=listaCategorias[i].id%> class="cat"
                id=<%=listaCategorias[i].id%>>
              <label for="${listaCategorias[index].id}">
                <%=listaCategorias[i].nombre%>
              </label>
            </div>
            <% } %>
        </div>
        <div class="botones">
          <button class="guardar-boton" type="submit">Crear proyecto</button>
          <button class="boton-cancelar" type="cancel">Cancelar</button>
        </div>
      </form>
    </div>

    <footer class="footer"><%- include('./partials/footer') %></footer>
  </body>
</html>
